<head>
  <link type="text/css" rel="stylesheet" href="/static/lib/bootstrap/css/bootstrap.css">
  <link type="text/css" rel="stylesheet" href="/static/lib/bootstrap/css/bootstrap-responsive.css">
</head>

<body>
  {{template "page-content"}}
</body>
