{{template "header"}}

<div class="container-fluid" id="gutenform">
  <h1>new book</h1>

  <form action="/api/books/new/" method="post">
    <div class="form-group">
      Book ID:<br>
      <input type="text" name="bookId" class="form-control">
    </div>

    <div class="form-group">
      Delimiter:<br>
      <input type="text" name="delim" class="form-control" placeholder="Chapter">
    </div>

    <div class="form-group">
      Publishing Schedule:<br>
      <div class="radio">
        <input type="radio" name="sched" value="weekly" checked> Weekly</input><br />
      </div>
      <div class="radio">
        <input type="radio" name="sched" value="monthly"> Monthly</input>
      </div>
    </div>

    <input type="submit" value="submit" class="btn btn-default">

  </form>
</div>

{{template "footer"}}
