{{template "header"}}

<div class="container-fluid" id="content_blob">
  <h1>Success!</h1>

  <p>
    You've confirmed your subscription for {{ .EmailAddress }} to receive weekly emails of <i>{{ .Book.Title }}</i>. Look out for your first
    chapter now.
  </p>

</div>

{{template "footer"}}
