<head>
  <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
</head>

</body>
  <div style="font-family: 'Lora', serif; padding: 40px;">
    <p>
      <strong style="font-size: 16pt">Thanks for subscribing!</strong>
    </p>

    <div style="font-size: 14pt">
      <p>
        Thanks for signing up to receive <i>{{ .Book.Title }}</i> by {{ .Book.Author }} by email!
        Click <a href="{{ .ConfirmUrl}}">here</a> to confirm your subscription and receive your first chapter.
      </p>
    </div>

</body>
