<p>
  <strong>Chapter {{.Chapter}}</strong>
</p>

<hr>

<div>
  {{.Body}}
</div>

<hr>

<p>
  This is the bottom of this email where I tell you things. For example, this is {{.Title}} by {{.Author}}.
</p>
