<head>
  <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
</head>

</body>
  <div style="font-family: 'Lora', serif; padding: 40px;">
    <p>
      <strong style="font-size: 16pt">Chapter {{ .Chapter }}</strong>
    </p>

    <hr>

    <div style="font-size: 14pt">
      {{ .Body }}
    </div>

    <hr>

    <p>
      This eBook is for the use of anyone anywhere at no cost and with almost
      no restrictions whatsoever. You may copy it, give it away or re-use
      it under the terms of the Project Gutenberg License included online at
      <a href="https://www.gutenberg.org/wiki/Gutenberg%3AThe_Project_Gutenberg_License">www.gutenberg.org</a>.
    </p>
    <p>
      You signed up to receive an installation of <i>{{ .Book.Title }}</i> by {{ .Book.Author }} every week at
      <a href="{{ .HomeUrl }}">War in Pieces</a>. If you'd like stop stop receiving these emails,
      you can unsubscribe
      <a href="{{ .UnsubUrl }}">here</a>.
    </p>
  </div>
</body>
