{{define "header"}}
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/static/lib/bootstrap/css/bootstrap.css">
    <link type="text/css" rel="stylesheet" href="/static/lib/bootstrap/css/bootstrap-responsive.css">
  </head>

  <body>
{{end}}
