{{define "page-content"}}
  <div class="container-fluid">
    <h1 class="m-2">new subscription</h1>

    <form action="/api/subscriptions/new/" method="post">
      {{template "subscription-form"}}
    </form>
  </div>
{{end}}
