<head>
  <link type="text/css" rel="stylesheet" href="/static/lib/bootstrap/css/bootstrap.css">
  <link type="text/css" rel="stylesheet" href="/static/lib/bootstrap/css/bootstrap-responsive.css">
</head>


<body>

  <div class="container-fluid">
    <h1 class="m-2">new subscription</h1>

    <form action="/api/subscriptions/new/" method="post">
      {{template "subscription-form"}}
    </form>
  </div>

</body>
