{{template "header"}}

<div class="container-fluid" id="content_blob">
  <h1>Success!</h1>

  <p>
    You've unsubscribed {{ .EmailAddress }} from weekly emails of <i>{{ .Book.Title }}</i>.
  </p>
  
</div>

{{template "footer"}}
