{{template "header"}}

<div class="container-fluid" id="content_blob">
  <h1>war in pieces</h1>

  <p>
    Hello! This app lets you read public domain novels that were originally published in installments the way they were
    meant to be read. After you sign up, you'll receive a chapter a week from the book of your choice. Unsubscribe at any time.
  </p>

  <hr>

  <form action="{{ .Endpoint }}" method="post">
    <div class="form-group">
      <label>email address:</label>
      <input type="text" name="email" class="form-control">
    </div>

    <div class="form-group">
      <label>book:</label>
      <select name="bookId" class="form-control">
        {{ range .BookOptions }}
          <option value="{{ .BookId }}">{{ .Title }} ({{ .Author }})</option>
        {{ end }}
      </select>
    </div>

    <input type="submit" value="submit" class="btn btn-default">
  </form>
</div>

{{template "footer"}}
