body {
  font-family: 'Lora';
  background-image: url("/static/img/books.jpg");
}

#gutenform {
  border-radius: 10px;
  padding: 20px;
  background-color: white;
  margin: 10% auto auto;
  max-width: 700px;
}
